@import './common/squares';

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  overflow: hidden;

  .area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    min-height: calc(100vh - 50px);

    margin: 0 auto;

    border-right: 2px solid rgba(22, 25, 35, 0.6);
    background-image: linear-gradient(to top right, rgb(22, 25, 35) 26.8%, rgb(8, 31, 38) 64%);

    font-size: 14px;

    transition-property: all;
    transition-duration: 1.2s;

    &:hover {
      cursor: pointer;
    }

    &.previous {
      &:hover {
        padding: 0 100px;
        font-size: 1.1em;

        .status {
          color: aliceblue;
        }
      }
    }

    &.ongoing {
      &:hover {
        padding: 0 100px;
        font-size: 1.1em;

        .status {
          color: aliceblue;
        }
      }
    }

    &.upcoming {
      &:hover {
        padding: 0 100px;
        font-size: 1.1em;

        .status {
          color: aliceblue;
        }
      }
    }

    .event {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;

      text-align: center;
      line-height: 1.8;

      z-index: 2;

      .status {
        position: absolute;
        color: #949494;
        top: 30%;
      }

      .logo {
        position: absolute;
        top: 36%;
      }

      .name {
        position: absolute;
        font-weight: bold;
        font-size: 1.1em;
        top: 56%;
      }

      .duration {
        position: absolute;
        font-weight: inherit;
        top: 90%;
      }
    }

    .squares {
      li {
      }
    }
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {
  .main {
    flex-direction: column;

    .area {
      min-height: calc((100vh - 50px) / 3);

      &:hover {
        .status {
          color: aliceblue;
        }
      }

      &.previous {
        &:hover {
          padding: 0 0 0 25px;
          font-size: 0.9rem;
        }
      }

      &.ongoing {
        &:hover {
          padding: 0 0 0 25px;
          font-size: 0.9rem;
        }
      }

      &.upcoming {
        &:hover {
          padding: 0 0 0 25px;
          font-size: 0.9rem;
        }
      }

      .event {
        .status {
          top: 69%;
          left: 12%;
          width: 100px;
          font-size: 1em;
          text-align: center;
        }

        .logo {
          width: 100px;
          height: 100px;
          top: 18%;
          left: 12%;
        }

        .name {
          font-size: 1.1em;
          position: relative;
          margin-right: auto;
          max-width: 160px;
          text-align: left;
          left: calc(12% + 30vw);
          margin-bottom: 5px;
        }

        .duration {
          position: relative;
          margin-right: auto;
          font-size: 1em;
          left: calc(12% + 30vw);
          margin-bottom: 7%;
        }
      }
    }

    .squares {
      display: none;
    }
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    border-radius: 25%;
    background: rgba(153, 35, 35, 0.2);
  }
  100% {
    transform: translateY(calc(-100vh - 80px)) rotate(720deg);
    border-radius: 25%;
    background: rgba(96, 35, 153, 0.2);
  }
}
