@import 'common/main-layout';

.main {
}

.container {
  padding: 10px 8px 0 6px;

  .wrapper {
    padding: 0 6px;
  }

  /* ------------ Score ------------- */

  .scoreBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    box-sizing: border-box;

    margin-top: 6px;
    margin-bottom: 18px;
    padding: 0;
    width: 100%;
    min-height: 179px;

    border-radius: 16px;

    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 15px 1px rgba(34, 60, 80, 0.3);

    &.upcoming {
      .match_info {
        background: linear-gradient(90deg, rgba(9, 74, 103, 0.3) 0%, rgba(27, 29, 33, 0.7) 6%, rgba(27, 29, 33, 0.7) 94%, rgba(9, 74, 103, 0.3) 100%);
      }
    }

    .team {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;

      position: relative;

      text-align: center;
      font-size: 16px;
      font-weight: 700;

      overflow: hidden;

      .team_country {
        position: absolute;

        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        top: 50%;
        left: 0;
        transform: translateY(-50%);

        object-fit: none;
        opacity: .6;
        z-index: 1;

        &.team1 {
          right: 39px;
          border-bottom-left-radius: 16px;
          border-top-left-radius: 16px;
        }

        &.team2 {
          right: 0;
          border-bottom-right-radius: 16px;
          border-top-right-radius: 16px;
        }
      }

      .score_gradient {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;

        width: 100%;
        height: 100%;

        margin-left: auto;
        margin-right: auto;

        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

        &.team1_gradient {
          background: linear-gradient(-90deg, rgba(9, 74, 103, 0.6) 0%, rgba(27, 29, 33, 0.1) 100%);
        }

        &.team2_gradient {
          background: linear-gradient(-90deg, rgba(27, 29, 33, 0.1) 0%, rgba(9, 74, 103, 0.6) 100%);
        }

        &.team1_gradient.ended {
          &.lost {
            background: linear-gradient(-90deg, rgba(228, 10, 10, 0.5) 0%, rgba(27, 29, 33, 0.1) 100%);
          }

          &.won {
            background: linear-gradient(-90deg, rgba(8, 165, 0, 0.5) 0%, rgba(27, 29, 33, 0.1) 100%);
          }
        }

        &.team2_gradient.ended {
          &.lost {
            background: linear-gradient(-90deg, rgba(27, 29, 33, 0.1) 0%, rgba(228, 10, 10, 0.5) 100%);
          }

          &.won {
            background: linear-gradient(-90deg, rgba(27, 29, 33, 0.1) 0%, rgba(8, 165, 0, 0.5) 100%);
          }
        }
      }

      .team_logo {
        max-height: 100%;
        width: auto;
        align-self: center;
        max-width: 120px;

        z-index: 3;
      }

      .team_name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: Open Sans, sans-serif;
        font-weight: 700;
        font-size: 17px;

        z-index: 3;
      }

      .win_indicator {
        display: none;
      }
    }

    .match_info {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 6px 8px 0 8px;


      text-align: center;

      max-width: 38.5%;

      &.left_won {
        background: linear-gradient(90deg, rgba(8, 165, 0, 0.3) 0%, rgba(27, 29, 33, 0.7) 6%, rgba(27, 29, 33, 0.7) 94%, rgba(228, 10, 10, 0.3) 100%);
      }

      &.right_won {
        background: linear-gradient(90deg, rgba(228, 10, 10, 0.3) 0%, rgba(27, 29, 33, 0.7) 6%, rgba(27, 29, 33, 0.7) 94%, rgba(8, 165, 0, 0.3) 100%);
      }

      .heading {
        font-weight: 700;
        font-size: 36px;
        max-width: 100%;
        font-family: Open Sans, sans-serif;
      }

      .date {
        font-size: 13px;
        max-width: 100%;
      }

      .event_name {
        padding: 0 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        max-width: 100%;
        color: rgb(9, 74, 103);
        font-weight: 600;
      }

      .countdown {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 16px;
        font-weight: 700;
        max-width: 100%;
        margin-bottom: 4px;
      }
    }
  }


  /* ------------ Picks ------------- */

  .paragraph_heading {
    display: flex;

    margin-top: 15px;
    padding-left: 5px;

    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .picks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    box-sizing: border-box;

    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .pick_card {
      display: flex;
      flex-direction: column;

      position: relative;

      text-align: center;

      box-shadow: 5px 5px 15px 2px rgba(34, 60, 80, 0.3);
      width: 120px;

      &:first-child {
        .pick_status {
          border-top-left-radius: 16px;
        }

        margin-left: 0 !important;
        border-top-left-radius: 16px;
      }

      &:last-child {
        .map_banner {
          border-bottom-right-radius: 16px;
        }

        .gradient {
          border-bottom-right-radius: 16px;
        }

        border-bottom-right-radius: 16px;
      }

      .pick_status {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        font-weight: 800;
        font-family: Open Sans, sans-serif;
        font-size: 11px;

        min-height: 22px;

        color: rgba(240, 248, 255, 1.00);
        background-color: rgb(8, 57, 77);

        &.banned {
          color: rgb(142, 11, 59);
          background-color: rgb(1, 22, 54);
        }
      }

      .map_name {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        font-weight: bold;
        letter-spacing: 0.5px;
        font-size: 12px;

        min-height: 22px;

        color: black;
        background-color: rgba(240, 248, 255, 1.00);

        &.banned {
          color: rgb(145, 145, 145);
        }
      }

      .pick_banner_box {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;

        position: relative;
        overflow: hidden;

        width: 120px;
        height: 67.5px;

        .map_banner {
          position: absolute;
          max-width: 100%;
          z-index: 1;

          &.placeholder {
            filter: saturate(0);
          }
        }

        .gradient {
          display: flex;
          flex-direction: column;
          justify-content: center;

          position: absolute;

          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.1);


          &.banned {
            background-color: rgba(1, 22, 54, 0.7);
          }

          &.decider {
            .pick_team_logo {
              opacity: 0;
            }
          }

          z-index: 2;
        }

        .pick_team_logo {
          align-self: center;

          max-width: 50px;
          max-height: 50px;
          width: auto;
          height: auto;

          opacity: 0.9;

          z-index: 3;
        }
      }
    }
  }


  /* ------------ Maps ------------- */
  .maps {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    position: relative;
    box-sizing: border-box;

    padding: 0 3px;
    margin-bottom: 8px;
    width: 100%;

    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .map_card {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      position: relative;

      text-align: center;

      border-radius: 16px;
      box-shadow: 0 5px 15px 1px rgba(34, 60, 80, 0.3);

      max-width: 430px;

      margin: 5px 0 15px 15px;

      &:first-child {
        margin: 5px 0 15px 0 !important;
      }

      .map_banner_box {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: relative;
        overflow: hidden;

        width: 160px;
        height: 200px;


        .map_banner {
          position: absolute;

          border-bottom-left-radius: 16px;
          border-top-left-radius: 16px;

          max-width: 100%;
          z-index: 1;

          img {
            width: auto;
            height: auto;
          }
        }

        .picked_by {
          position: absolute;

          width: 100%;
          height: 100%;

          &.decider {
            .map_pick_span {
              margin-left: 3px !important;
              margin-right: 3px !important;
            }
          }

          .map_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            background: rgba(34, 60, 80, 0.7);
            border-radius: 16px;

            max-width: 115px;
            height: 28px;

            position: absolute;
            padding: 0 12px;

            top: 76%;
            left: 50%;
            transform: translateX(-50%);

            &.upcoming {
              opacity: 0;
            }

            .map_pick_span {
              max-height: 17px;
              white-space: nowrap;
              margin-left: 5px;
              max-width: 90px;
              margin-right: 4px;
            }

            img {
              margin-right: 5px;
            }
          }

          z-index: 2;
        }
      }

      .map_info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background: rgba(35, 39, 44, 0.9);

        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;

        width: 270px;

        .map_name {
          display: flex;
          align-items: center;
          justify-content: center;

          font-weight: 800;
          font-family: Open Sans, sans-serif;
          font-size: 13px;

          border-top-right-radius: 16px;

          background: rgba(22, 23, 26, 0.8);
          color: rgb(240, 248, 255);

          width: 100%;
          height: 30px;
        }

        .map_score_info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;

          height: 170px;

          .map_scores {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .main_score {
              font-weight: 700;
              font-family: Open Sans, sans-serif;
              font-size: 22px;
            }

            .sides_score {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;

              .ct {
                color: #2c6ea4;
              }

              .t {
                color: #e0a42d;
              }
            }
          }

          .logo_placeholder {
            opacity: .4;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .paragraph_heading {
    margin-top: 13px !important;
  }

  .picks {
    padding: 0 3px 15px 3px;
    margin-bottom: 0 !important;

    overflow-x: scroll;

    .pick_card {
      margin-left: 20px;
    }
  }
}


/* ------------ Mobiles ------------- */

@media (max-width: 500px) {
  .wrapper {
    padding: 0 !important;
  }


  /* --------- Score ---------- */
  .scoreBox {
    min-height: 139px !important;
    margin-top: 4px !important;

    .team {
      .team_country {
        opacity: .85 !important;

        &.team1 {
          height: 140px !important;
        }

        &.team2 {
          height: 140px !important;
        }
      }

      .score_gradient {
        &.team1_gradient {
          background: linear-gradient(180deg, rgba(27, 29, 33, 0.1) 0%, rgba(9, 74, 103, 0.6) 100%) !important;
          border-bottom-left-radius: 13px;
        }

        &.team2_gradient {
          background: linear-gradient(180deg, rgba(27, 29, 33, 0.1) 0%, rgba(9, 74, 103, 0.6) 100%) !important;
          border-bottom-right-radius: 13px;
        }

        &.team1_gradient.ended {

        }

        &.team2_gradient.ended {

        }
      }

      .team_logo {
        width: 50px;
        height: 50px;
      }

      .team_name {
        font-size: 15px !important;
        padding: 0 7px;
      }

      .win_indicator {
        display: flex !important;
        justify-content: center;
        position: absolute;

        top: 96%;
        left: 50%;
        transform: translateX(-50%);

        width: 60px;
        height: 2px;
        background: rgba(0, 133, 190, 0.5);

        &.won {
          background: rgba(8, 165, 0, 0.8);
        }

        &.lost {
          background: rgba(228, 10, 10, 0.8);
        }
      }
    }

    .match_info {
      max-width: 44% !important;
      padding-top: 8px !important;
      background: rgba(27, 29, 33, 0.7) !important;

      .heading {
        font-size: 35px !important;
        padding: 0 15px;
      }

      .date {
        font-size: 9px !important;
        padding: 0 22px;
      }

      .event_name {
        font-size: 11px !important;
        padding: 0 15px !important;
      }

      .countdown {
        font-size: 15px !important;
        padding: 0 22px;
      }
    }
  }
}