@import 'common/main-layout';

.main {}

.container {

  .wrapper {
    padding: 0 6px;
  }

  .scoreBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    box-sizing: border-box;

    margin-top: 6px;
    padding: 0;
    width: 100%;
    min-height: 179px;

    border-radius: 16px;

    background-color: rgb(14, 15, 17);
    box-shadow: 0 0 2px 0 rgb(50 50 50 / 40%);

    .team {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;

      position: relative;

      text-align: center;
      font-size: 16px;
      font-weight: 700;

      overflow: hidden;

      .team_country {
        position: absolute;

        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        top: 50%;
        left: 0;
        transform: translateY(-50%);

        object-fit: none;
        opacity: .2;
        z-index: 1;

        &.team1 {
          right: 39px;
          border-bottom-left-radius: 16px;
          border-top-left-radius: 16px;
        }

        &.team2 {
          right: -6.5%;
          border-bottom-right-radius: 16px;
          border-top-right-radius: 16px;
        }
      }

      .team1_gradient {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;

        width: 100%;
        height: 100%;

        margin-left: auto;
        margin-right: auto;

        background: linear-gradient(-90deg, rgba(8,165,0,0.7), rgba(27, 29, 33,0.1) 100%);

        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }

      .team2_gradient {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;

        width: 100%;
        height: 100%;

        margin-left: auto;
        margin-right: auto;

        background: linear-gradient(-90deg,  rgba(27, 29, 33,0.1), rgba(228,10,10,0.7) 100%,);

        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }

      .team_logo {
        max-height: 100%;
        width: auto;
        align-self: center;
        max-width: 120px;

        z-index: 3;
      }

      .team_name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: Open Sans,sans-serif;
        font-weight: 700;
        font-size: 17px;

        z-index: 3;
      }
    }

    .matchInfo {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 6px;

      background: linear-gradient(90deg, rgba(8,165,0,0.7) 0%, rgba(27, 29, 33,0.7) 16%, rgba(27, 29, 33,0.7) 84%, rgba(228,10,10,0.7) 100%);
      text-align: center;

      max-width: 33%;

      .heading {
        font-weight: 700;
        font-size: 36px;
        max-width: 100%;
        font-family: Open Sans,sans-serif;
        color: #c3c6ce;
      }

      .date {
        font-size: 10px;
        max-width: 100%;
      }

      .event_name {
        font-size: 12px;
        max-width: 100%;
      }

      .countdown {
        font-size: 16px;
        font-weight: 700;
        max-width: 100%;
        margin-bottom: 4px;
        font-family: Open Sans,sans-serif;
        color: #c3c6ce;
      }
    }
  }

  .picks {

  }

  .maps {

  }
}

@media (max-width: 908px) {
  .team_country {
    &.team2 {
      right: 0 !important;
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    padding: 0 !important;
  }

  .scoreBox {
    min-height: 139px !important;
    margin-top: 4px !important;

    .matchInfo {
      max-width: 44% !important;
      padding-top: 8px !important;

      .heading {
        font-size: 35px !important;
        padding: 0 22px;
      }

      .date {
        font-size: 9px !important;
        padding: 0 22px;
      }

      .event_name {
        font-size: 11px !important;
        padding: 0 22px;
      }

      .countdown {
        font-size: 15px !important;
        padding: 0 22px;
      }
    }

    .team_country {
      &.team1 {
        height: 140px !important;
      }

      &.team2 {
        height: 140px !important;
      }
    }

    .team_logo {
      width: 50px;
      height: 50px;
    }

    .team_name {
      font-size: 15px !important;
      padding: 0 7px;
    }
  }
}