@import 'common/main-layout';
@import 'common/team-cell';

.main {
}

.container {
  .page_headline {
    font-size: 21px;
    font-weight: 700;
    opacity: 1;
  }

  .results_sublist {
    margin-top: 18px;

    &:first-child {
      margin-top: 0;
    }

    .headline {
      font-size: 19px;
      font-weight: 800;
      opacity: 1;
      margin: 0 0 5px;
    }

    .result {
      padding: 5px;
      margin-bottom: 5px;
      margin-top: 5px;
      box-shadow: 0 1px 2px 0 rgb(50 50 50 / 40%);

      transition-property: all;
      transition-duration: 0.5s;
      transition-delay: 200ms;

      &:hover {
        padding: 18px 5px;
        cursor: pointer;

        .score_wrapper {
          .main_score {
            transition: opacity 0.5s;
            opacity: 0;
          }

          .detailed_score {
            transition: opacity 0.5s;
            opacity: 1;
          }
        }

        .event {
          opacity: .9;
        }

        .match_type {
          opacity: .9;
        }
      }

      table {
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        box-sizing: border-box;
      }

      .team_cell {}
    }

    .score {
      width: 100px;
      font-weight: 700;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;

      .score_wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .detailed_score {
          transition: opacity 0.5s;
          font-size: 11px;
          opacity: 0;

          .map_score {
            margin-bottom: 1.5px;
          }
        }

        .main_score {
          transition: opacity 0.5s;
          opacity: 1;
        }

        .dash {
          padding: 0 4px;
        }

        .score_won {
          color: #08a500;
        }

        .score_lost {
          color: #e40a0a;
        }

        .score_draw {
          color: #8a8a8a;
        }
      }
    }

    .event {
      display: flex;
      align-content: center;
      height: 33.6px;
      opacity: .65;

      .event_name {
        font-size: 10px;

        align-self: center;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        width: 25px;
        height: 25px;
        margin: 4.3px 3px 4.3px 15px;
      }
    }

    .match_type {
      max-height: 30px;
      text-align: right;
      width: 50px;
      opacity: .5;
    }
  }
}

@media (max-width: 500px) {
  .results_sublist {
    .result {
      .score {
        width: 80px !important;
        padding-left: 5px;
        padding-right: 5px;
      }

      .event {
        justify-content: center;

        .event_name {
          display: none !important;
        }
      }
    }
  }
}